amqp==5.0.5
attrs==20.3.0
billiard==3.6.3.0
celery==5.0.5
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
fastapi==0.63.0
greenlet==1.0.0
h11==0.12.0
httpcore==0.12.3
httptools==0.1.1
httpx==0.17.1
idna==3.1
iniconfig==1.1.1
kombu==5.0.2
packaging==20.9
pika==0.13.0
pluggy==0.13.1
prompt-toolkit==3.0.18
py==1.10.0
pyamqp==0.1.0.7
pydantic==1.8.1
pygtrie==2.4.2
pyjwt==2.0.1
pyparsing==2.4.7
pytest==6.2.2
python-dotenv==0.15.0
python-multipart==0.0.5
pyyaml==5.4.1
rfc3986==1.4.0
sniffio==1.2.0
starlette==0.13.6
toml==0.10.2
typing-extensions==3.7.4.3
uvicorn==0.13.4
uvloop==0.15.2
vine==5.0.0
watchgod==0.7
websockets==8.1
appnope==0.1.2
backcall==0.2.0
brotlipy==0.7.0 
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cryptography==3.4.7
decorator==4.4.2
importlib_metadata==3.7.3
ipykernel==5.3.4
ipython==7.22.0
ipython_genutils==0.2.0
jedi==0.17.2
jupyter_client==5.3.3
jupyter_core==4.5.0
numpy==1.19.2
pandas===1.2.3
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
pip==21.0.1 
psycopg2
ptyprocess==0.7.0
pycparser==2.20
pygments==2.7.1
pysocks==1.7.1 
python-dateutil==2.8.1
pytz==2021.1
pyzmq==20.0.0
requests==2.25.1
setuptools==52.0.0
six==1.15.0
sqlalchemy
tk
tornado==6.1
traitlets==5.0.5
tzdata
urllib3==1.26.4
wcwidth==0.2.5
wheel==0.36.2
zipp==3.4.1
